.navbar {
  // border: pink 1px solid;
  color: hsl(0, 0%, 100%);
  list-style: none;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;

  font-family: "Lifted";
  height: 40px;
  width: 100vw;
  text-decoration: none;

  position: fixed;
  bottom: 0;
  left: 0;

  padding: 0;

  .navitem {
    // border: blue 1px solid;
    align-self: center;
    height: 22px;
    overflow: hidden;
    display: flex;
    padding: 20px;

    a {
      text-decoration: none;
      color: #c0c7c0;
      width: 100%;
      text-align: right;
      // background-color: #656a73;
      font: normal normal 26px/1.5 "Lifted";
      text-transform: uppercase;
      align-self: center;
    }
  }
}
