.sandbox {
  &.container {
    height: 80vh;
    width: 80vw;
    border-radius: 10px;
    background-color: rgb(227, 230, 238);
  }
  display: flex;
  flex-flow: column;

  > div {
    height: 100%;
    width: 100%;
    .header {
      height: 40px;
      flex: 0 0;
    }
    .content {
      flex: 1;
      display: block;
    }
  }

  color: #385680;
}
