#wave {
  box-sizing: border-box;
  width: 100vw;
  height: 30vh;
}

.landing-page {
  height: 100vh;
  display: flex;
  width: 30vw;
  padding-top: 33vh;
  justify-content: flex-end;

  .content {
    min-width: 300px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .content p {
    font: normal normal 36px/1.5 "Lifted";
    max-width: 600px;
  }

  .content a {
    font: normal normal 18px/1.5 "Lifted";
    text-decoration: underline;
    color: white;
    letter-spacing: 0.3px;
  }

  .logo {
    width: 100px;
  }
  @import "./media-queries.scss";
}
