$header-color: rgb(255, 223, 42);

$border-color: rgb(17, 11, 0);
$color: rgb(255, 223, 42);
$padding: 60px;
$content-padding: calc(100% - 60px);

/* fonts */
.window {
  color: #385680;

  .header {
    font: 1.5rem "mplus mono";
    .title {
      text-align: center;
    }
  }
}

/* colors */
.window {
  &.container {
    border: 3px solid $border-color;
  }

  .header {
    background-color: $header-color;

    border-bottom: 3px solid $border-color;
    .menu {
      color: adjust-color($border-color, $lightness: -30%, $alpha: -0.4);

      div:hover {
        color: adjust-color($border-color, $lightness: -60%);
      }
    }

    .title {
      color: darken($border-color, 40);
    }
  }

  .content {
    background-color: rgb(27, 27, 56);
  }
}

/* behavior */
.window {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 4px -5px gray;

    .menu {
      display: flex;
    }
    .title {
      margin: 0;
      flex: 1;
    }

    .controls {
      display: flex;
      justify-content: flex-end;
    }
  }

  .content {
    display: block;
    overflow: hidden;
  }
}

/* size/ shape */
.window {
  &.container {
    height: 80vh;
    width: 80vw;
    box-sizing: border-box;
  }

  .header {
    height: 60px;
    width: 100%;
    line-height: 60px;

    .menu {
      height: 100%;
      padding-left: 20px;

      div {
        display: flex;
        align-content: center;
        span {
          display: inline-block;
          line-height: 60px;
          height: 100%;

          padding: 0 10px;
        }
      }
      width: 20%;
    }

    .title {
      margin: 0;
      flex: 1;
      padding-left: 20px;
      text-align: left;
    }

    .controls {
      width: 20%;

      span {
        margin: 0 10px;
      }
    }
  }

  .content {
    width: $content-padding;
    height: $content-padding;
    padding: 30px;
  }
}

/* animation */
