@font-face {
  font-family: "Lifted";
  src: url("https://robertvinluan.com/assets/webfonts/Lifted-Sans.eot"); /* IE9 Compat Modes */
  src: url("https://robertvinluan.com/assets/webfonts/Lifted-Sans.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://robertvinluan.com/assets/webfonts/Lifted-Sans.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://robertvinluan.com/assets/webfonts/Lifted-Sans.woff")
      format("woff");
}

body {
  background: #656a73;
  color: #c0c7c0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media (max-width: 1024px) {
  .logo {
    width: 60px;
  }
  .content p {
    max-width: 400px;
    font-size: 24px;
  }
  .content a {
    font-size: 14px;
  }
}

@media (max-width: 940px) {
  .content {
    width: 70vw;
    max-width: 500px;
    margin: auto;
  }
  .content p {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .content {
    width: 90vw;
  }
  .content p {
    font-size: 19px;
  }
}
