@import "./fonts.scss";
$hover-height: 8px;
$yellow: rgb(255, 223, 42);

body {
  background: #656a73;
  color: #c0c7c0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: "Lifted";

  .debug-outline {
    border: 1px dashed pink;
  }
}
h2 {
  margin: 1px 0;
  font-size: 34px;
}
.container {
  display: flex;

  .debug-outline {
    border-color: khaki;
  }
}

.no-overflow {
  overflow: hidden;
}

.hover-text {
  cursor: pointer;

  span,
  a {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);

    transition: box-shadow 80ms ease-in-out, color 80ms ease-in-out, 80ms ease-in-out, text-shadow 80ms ease-in-out;
    user-select: none;
  }

  &:hover {
    span,
    a {
      text-shadow: 7px $hover-height 2px rgba(0, 0, 0, 0.6);
      transform: translate(0px, -$hover-height);
    }
  }
  &:active {
    span,
    a {
      text-shadow: 3px ($hover-height - 2px) 2px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      transform: translate(0px, -$hover-height + 2px);
    }
  }
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.fill-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.fill-width {
  width: 100%;
  display: flex;
}

.fill-height {
  height: 100%;
  display: flex;
}

div {
  display: flex;
}
.centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.one-third-width {
  width: calc(100% / 3);
  min-width: 600px;
}

.no-text-select {
  user-select: none;
}

.body {
  font-family: "OfficeCodePro";
  font-size: 1.5rem;
}

.slight-pad {
  padding: 4px;
}

@import "./media-queries.scss";
