@import './fonts.scss';

body {
  background: #656a73;
  color: #c0c7c0;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@import './media-queries.scss';