@media (max-width: 1024px) {
  .one-third-width {
    min-width: 500px;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 940px) {
  .one-third-width {
    min-width: 310px;
  }

  h2 {
    font-size: 20px;
  }

  .body {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .one-third-width {
    padding-top: 20px;
  }

  h2 {
    font-size: 20px;
  }
  .content p {
    font-size: 19px;
  }
}
